.Content {

}

.welkom-tekst-area{
	background: #f6f7f8;
}

.welkom-tekst-area h2{
	font-weight: 300;
	text-align: center;
	color: #292e32;
}

.blauwe-tekst{
	color: #0f5c92;
	font-weight: 600;
}

.welkom-tekst-area p{
	color: #292e32;
}