// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  text-align: center;
}

.full-bg-menu{
  @include background-image(linear-gradient(to top, #0d5180, #10649e));
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block;
	margin: 0px;
}

@media all and (min-width: 1040px) {
  .Navigation-listItem.is-active {
    background: red;
    background: url(../img/arrow.png) center top no-repeat;
    background-position: 36% 0%;
  }
} 
// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  margin: 0 rem(3px);
  float: left;
  padding: 10px 10px 10px 0px;
  &:first-of-type {
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}
